body {
  background-color: rgb(11, 11, 14);
}

.box {
    background-color: black;
}

.main-title {
  margin-top: 65px;
  display: flex;
  flex-direction: column;
  justify-content: center; /* Center vertically */
  align-items: flex-start; /* Start horizontally */
  flex: 1; /* Take up half of the space */
  padding-left: 50px; /* Adjust as needed */
  padding-right: 25px; /* Half of the spacing between */

}

.text-gradient {
  background-image: linear-gradient(to bottom right, #c084fc, #db2777);
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@media (max-width: 768px) {
  .main-title {
    font-size: 20px; /* Smaller text for smaller screens */
  }
  .main-title p {
    font-size: 18px;
  }
}

@media (max-width: 480px) {
  .main-title {
    font-size: 16px;
  }
  .main-title p {
    font-size: 14px;
  }
}
