.exercises-screen-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
}

.saved-exercises-container {
    width: 25%;
    margin-right: 10px;
    overflow: hidden;
    padding: 1rem;
}

/* .vertical-divider {
    height: 100%;
    background-color: rgb(63, 63, 79);
    width: 1px;
    padding-top: 1rem;
} */

.exercises-search-container {
    flex-grow: 1;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    align-items: center;
}

.search-result-container {
    flex-grow: 1;
    width: 100%;
}

.exercises-search-input {
    width: 85%;
    background-color: rgb(26, 26, 30) !important;
    resize: none;
    width: 80%;
    height: 3rem;
    border-color: lightgrey;
    color: white !important;
}