.home-page-container {
    height: 100vh;
}

.wd-flex-row-container {
    display: flex;
    flex-direction: row;
}

.home-page-users-container {
    width: 350px;
    padding: 10px;
    padding-right: 5px;
}

.home-page-users-pill {
    background-color: rgb(26, 26, 30);
    height: 100%;
    border-radius: 5px;
    padding: 10px;
    color: white;
    display: flex;
    flex-direction: column;
}

.home-page-body-container {
    flex-grow: 1;
    padding: 10px;
    padding-left: 5px;
    padding-right: 5px;
    color: white;
}

.home-page-body-pill {
    background-color: rgb(26, 26, 30);
    height: 100%;
    border-radius: 5px;
    padding: 10px;
}

.home-page-chat-container {
    width: 450px;
    padding: 10px;
    padding-left: 5px;
}

.home-page-chat-pill {
    background-color: rgb(26, 26, 30);
    height: 100%;
    border-radius: 5px;
    padding: 10px;
    color: white;
    display: flex;
    align-items: flex-end;
}