.home-page-container {
    height: 100vh;
}

.wd-flex-row-container {
    display: flex;
    flex-direction: row;
}

.home-page-body-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 3rem;
    margin-bottom: 5px;
}

.home-page-body-header a {
    text-decoration: none;
    color: white;
    margin-right: 1rem;
}

.home-page-users-container {
    width: 350px;
    padding: 10px;
    padding-right: 5px;
}

.home-page-users-pill {
    background-color: rgb(26, 26, 30);
    height: 100%;
    border-radius: 5px;
    padding: 10px;
    color: white;
    display: flex;
    flex-direction: column;
}

.home-page-body-container {
    flex-grow: 1;
    padding: 10px;
    padding-left: 5px;
    padding-right: 5px;
    color: white;
}

.home-page-body-pill {
    background-color: rgb(26, 26, 30);
    height: 100%;
    border-radius: 5px;
    padding: 10px;
    display: flex;
    flex-direction: column;
}

.home-page-body-search {
    background-color: rgb(26, 26, 30) !important;
    resize: none;
    width: 100%;
    height: 100%;
    border-color: lightgrey;
    color: white !important;
}

.home-page-body-posts {
    flex-grow: 1;
}

.home-page-chat-container {
    width: 450px;
    padding: 10px;
    padding-left: 5px;
}

.home-page-chat-pill {
    background-color: rgb(26, 26, 30);
    height: 100%;
    border-radius: 5px;
    padding: 10px;
    color: white;
    display: flex;
    align-items: flex-end;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0.25);
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: rgba(255, 255, 255, 0.50);
}

* {
    scrollbar-width: thin;
    scrollbar-color: rgba(255, 255, 255, 0.25) rgba(0, 0, 0, 0.25);
}