.login-account-body {
    background-color: rgb(11, 11, 14);
}

.login-screen-bar {
    height: 100vh;
    width: 500px;
    padding: 50px;
    margin: 0px;
    position: sticky;
    top: 0;
    background-color: rgb(19, 19, 21);
}

.login-screen-header {
    color: lightgrey;
    margin: 0px;
}

.form-group {
    margin-bottom: 10px;
}

.form-group input {
    background-color: rgb(40, 40, 40) !important;
    color: white !important;
    border: 10px;
}

.form-group label {
    color: lightgrey;
    font-size: 12px;
}

.login-account-form button {
    width: 100%;
    margin-bottom: 10px;
}

.login-screen-bar a {
    text-decoration: none;
    color: lightgrey;
    font-size: 15px;
}
  