.create-account-body {
  background-color: rgb(11, 11, 14);

  display: flex;
  align-items: center;
  justify-content: center;
}

.create-account-box {
  height: 500px;
  width: 500px;
  padding: 15px;
}

.create-account-header {
  color: lightgrey;
}

.wd-flex-row-container {
  display: flex;
  flex-direction: row;
}

.create-account-box a {
  width: 100%;
  margin-bottom: 10px;
}

.create-account-box a {
  text-decoration: none;
  color: lightgrey;
  font-size: 15px;
}

.intro-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh; 
}

.typewriter {
  font-size: 50px;
}

@media (max-width: 600px) {
    .typewriter {
      font-size: 50px; 
    }
  }


@keyframes typing {
    from { width: 0; }
    to { width: 100%; }
  }
  
  .typewriter {
    overflow: hidden;
    font-size: 4vw; 
    border-right: .15em solid purple;
    white-space: nowrap;
    margin: 0 auto;
    letter-spacing: .15em;
    animation: 
    typing 3.5s steps(30, end),
    blink-caret .5s step-end infinite;
    max-width: 910px;
}


@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: purple }
}
  
