.profile-screen-container {
    padding-top: 25px; 
    height: calc(100vh - 70px); 
    display: flex;
    flex-direction: row;
    overflow: auto; 
}

.profile-picture-container {
    width: 40%;
    padding: 10px;
}

.profile-feed-container {
    flex-grow: 1;
    padding: 10px;
}