.profile-screen-container {
    padding-top: 70px; /* Adjust this value to match your header's height */
    height: calc(100vh - 70px); /* Reduce the height by the header's height */
    display: flex;
    flex-direction: row;
    overflow: auto; 
}

.profile-picture-container {
    width: 40%;
    padding: 10px;
}

.profile-feed-container {
    flex-grow: 1;
    padding: 10px;
}