.chatbox-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: end;
    height: 100%;
}

.message {
    overflow: hidden;
    word-wrap: break-word;
    margin-bottom: 1rem;
}

.user strong {
    color: #0d6efd;
}

.assistant strong {
    color: white;
}

.chatbox-messages {
    flex-grow: 1;
    margin-bottom: 10px;
    overflow-y: auto;
    color: lightgrey;
    padding: 1rem;
}

.chatbox-input {
    background-color: rgb(26, 26, 30) !important;
    resize: none;
    width: 100%;
    height: 100px;
    border-color: lightgrey;
    color: white !important;
}

.chatbox-submit {
    color: lightgrey;
    width: 100%;
    margin-top: 15px;
    margin-bottom: 15px;
}